body{
    max-width: 80%;
    margin: auto;
}
header{
    background-color: orange;
    color: green;
    font-size: 45px;
    text-align: center;
    
}
a{
    text-decoration: none;
    color: white;
    
}
nav{
    font-size: 25px;
    background-color: green;
    
}
main div h2{
    border-top: 2px green;
}